<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.mapper.CompanyForCategoryMapper">
  <resultMap id="BaseResultMap" type="com.shopping.wx.model.CompanyForCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="company_uuid" jdbcType="VARCHAR" property="companyUuid" />
    <result column="category_uuid" jdbcType="VARCHAR" property="categoryUuid" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, company_uuid, category_uuid, category_name, status, create_time, ext1, ext2, 
    ext3
  </sql>
</mapper>