<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.mapper.DkpjViewMapper">
  <resultMap id="BaseResultMap" type="com.shopping.wx.model.DkpjView">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="qyname" jdbcType="VARCHAR" property="qyname" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="sqr" jdbcType="VARCHAR" property="sqr" />
    <result column="lxdh" jdbcType="VARCHAR" property="lxdh" />
    <result column="dkje" jdbcType="VARCHAR" property="dkje" />
    <result column="dkqxid" jdbcType="VARCHAR" property="dkqxid" />
    <result column="sfdyw" jdbcType="VARCHAR" property="sfdyw" />
    <result column="dyw" jdbcType="VARCHAR" property="dyw" />
    <result column="dkytid" jdbcType="VARCHAR" property="dkytid" />
    <result column="hkfsid" jdbcType="VARCHAR" property="hkfsid" />
    <result column="yye" jdbcType="VARCHAR" property="yye" />
    <result column="nshe" jdbcType="VARCHAR" property="nshe" />
    <result column="dkbankid" jdbcType="VARCHAR" property="dkbankid" />
    <result column="dkbankname" jdbcType="VARCHAR" property="dkbankname" />
    <result column="yl1" jdbcType="VARCHAR" property="yl1" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="yl2" jdbcType="VARCHAR" property="yl2" />
    <result column="nsdj" jdbcType="VARCHAR" property="nsdj" />
    <result column="dkyt" jdbcType="VARCHAR" property="dkyt" />
    <result column="dkqx" jdbcType="VARCHAR" property="dkqx" />
    <result column="hkfs" jdbcType="VARCHAR" property="hkfs" />
    <result column="dksj" jdbcType="TIMESTAMP" property="dksj" />
    <result column="yhwdid" jdbcType="VARCHAR" property="yhwdid" />
    <result column="yhwd" jdbcType="VARCHAR" property="yhwd" />
    <result column="zpsj" jdbcType="TIMESTAMP" property="zpsj" />
    <result column="yxtjid" jdbcType="VARCHAR" property="yxtjid" />
    <result column="yxtjname" jdbcType="VARCHAR" property="yxtjname" />
    <result column="pf" jdbcType="VARCHAR" property="pf" />
    <result column="pjyj" jdbcType="VARCHAR" property="pjyj" />
    <result column="pjstatus" jdbcType="VARCHAR" property="pjstatus" />
    <result column="pjtime" jdbcType="TIMESTAMP" property="pjtime" />
    <result column="sltime" jdbcType="TIMESTAMP" property="sltime" />
    <result column="wctime" jdbcType="TIMESTAMP" property="wctime" />
  </resultMap>
</mapper>