<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.mapper.MessageDialogMapper">
  <resultMap id="BaseResultMap" type="com.shopping.wx.model.MessageDialog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="record_uuid" jdbcType="VARCHAR" property="recordUuid" />
    <result column="user_openid" jdbcType="VARCHAR" property="userOpenid" />
    <result column="user_role" jdbcType="TINYINT" property="userRole" />
    <result column="msg_body" jdbcType="VARCHAR" property="msgBody" />
    <result column="flag_read" jdbcType="TINYINT" property="flagRead" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, record_uuid, user_openid, user_role, msg_body, flag_read, status, create_time, 
    ext1, ext2, ext3
  </sql>
</mapper>