<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.mapper.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.shopping.wx.model.Notice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="notice" jdbcType="VARCHAR" property="notice" />
    <result column="fbtime" jdbcType="TIMESTAMP" property="fbtime" />
    <result column="xgry" jdbcType="VARCHAR" property="xgry" />
    <result column="xgyhid" jdbcType="VARCHAR" property="xgyhid" />
    <result column="xgyhname" jdbcType="VARCHAR" property="xgyhname" />
    <result column="yl1" jdbcType="VARCHAR" property="yl1" />
    <result column="yl2" jdbcType="VARCHAR" property="yl2" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, notice, fbtime, xgry, xgyhid, xgyhname, yl1, yl2
  </sql>
</mapper>