<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.mapper.SdbsqMapper">
  <resultMap id="BaseResultMap" type="com.shopping.wx.model.Sdbsq">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="qyname" jdbcType="VARCHAR" property="qyname" />
    <result column="sqr" jdbcType="VARCHAR" property="sqr" />
    <result column="lxdh" jdbcType="VARCHAR" property="lxdh" />
    <result column="dkje" jdbcType="VARCHAR" property="dkje" />
    <result column="dkqxid" jdbcType="VARCHAR" property="dkqxid" />
    <result column="dkllid" jdbcType="VARCHAR" property="dkllid" />
    <result column="yye" jdbcType="VARCHAR" property="yye" />
    <result column="nshe" jdbcType="VARCHAR" property="nshe" />
    <result column="dkbankid" jdbcType="VARCHAR" property="dkbankid" />
    <result column="dkbankname" jdbcType="VARCHAR" property="dkbankname" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="yl1" jdbcType="VARCHAR" property="yl1" />
    <result column="yl2" jdbcType="VARCHAR" property="yl2" />
    <result column="zyyw" jdbcType="VARCHAR" property="zyyw" />
    <result column="dkll" jdbcType="VARCHAR" property="dkll" />
    <result column="dkqx" jdbcType="VARCHAR" property="dkqx" />
    <result column="xyyhfz" jdbcType="VARCHAR" property="xyyhfz" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, qyname, sqr, lxdh, dkje, dkqxid, dkllid, yye, nshe, dkbankid, dkbankname, status, 
    yl1, yl2, zyyw, dkll, dkqx, xyyhfz
  </sql>
</mapper>