<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.mapper.UserWxInfoMapper">
  <resultMap id="BaseResultMap" type="com.shopping.wx.model.UserWxInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="deletestatus" jdbcType="VARCHAR" property="deletestatus" />
    <result column="REVISION" jdbcType="INTEGER" property="revision" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="bc_user_id" jdbcType="VARCHAR" property="bcUserId" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="avatarurl" jdbcType="VARCHAR" property="avatarurl" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, addtime, deletestatus, REVISION, app_id, bc_user_id, openid, nickname, gender, 
    language, city, province, country, avatarurl, unionid
  </sql>
</mapper>