<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.mapper.UserCandidateMapper">
  <resultMap id="BaseResultMap" type="com.shopping.wx.model.UserCandidate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="identity_card" jdbcType="VARCHAR" property="identityCard" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="lon" jdbcType="DOUBLE" property="lon" />
    <result column="lat" jdbcType="DOUBLE" property="lat" />
    <result column="marraige_state" jdbcType="TINYINT" property="marraigeState" />
    <result column="political_state" jdbcType="TINYINT" property="politicalState" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="personnel_state" jdbcType="TINYINT" property="personnelState" />
    <result column="portrait_path" jdbcType="VARCHAR" property="portraitPath" />
    <result column="expect_salary_min" jdbcType="INTEGER" property="expectSalaryMin" />
    <result column="expect_salary_max" jdbcType="INTEGER" property="expectSalaryMax" />
    <result column="expect_category_id" jdbcType="VARCHAR" property="expectCategoryId" />
    <result column="expect_community_id" jdbcType="VARCHAR" property="expectCommunityId" />
    <result column="flag_identification" jdbcType="TINYINT" property="flagIdentification" />
    <result column="count_view" jdbcType="INTEGER" property="countView" />
    <result column="community_uuid" jdbcType="VARCHAR" property="communityUuid" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, real_name, identity_card, gender, birthday, telephone, email, address, lon, lat, 
    marraige_state, political_state, introduction, personnel_state, portrait_path, expect_salary_min, 
    expect_salary_max, expect_category_id, expect_community_id, flag_identification, 
    count_view, community_uuid, priority, status, create_time, ext1, ext2, ext3
  </sql>
</mapper>