* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:before, :after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
}
a:hover, a:focus {
  outline: 0 none;
}

img {
  border: 0;
  outline: none;
  max-width: 100%;
}

ul {
  list-style: none;
}

.owl-carousel img {
  width: 100%;
}

p {
  margin: 0;
}

input, select, textarea, input[type=submit], input[type=button] {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input, select {
  -webkit-appearance: none;
}

input::-webkit-search-cancel-button {
  display: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66667%;
  }

  .col-sm-pull-10 {
    right: 83.33333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66667%;
  }

  .col-sm-pull-7 {
    right: 58.33333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66667%;
  }

  .col-sm-pull-4 {
    right: 33.33333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66667%;
  }

  .col-sm-pull-1 {
    right: 8.33333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66667%;
  }

  .col-sm-push-10 {
    left: 83.33333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66667%;
  }

  .col-sm-push-7 {
    left: 58.33333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66667%;
  }

  .col-sm-push-4 {
    left: 33.33333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66667%;
  }

  .col-sm-push-1 {
    left: 8.33333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66667%;
  }

  .col-md-pull-10 {
    right: 83.33333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66667%;
  }

  .col-md-pull-7 {
    right: 58.33333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66667%;
  }

  .col-md-pull-4 {
    right: 33.33333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66667%;
  }

  .col-md-pull-1 {
    right: 8.33333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66667%;
  }

  .col-md-push-10 {
    left: 83.33333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66667%;
  }

  .col-md-push-7 {
    left: 58.33333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66667%;
  }

  .col-md-push-4 {
    left: 33.33333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66667%;
  }

  .col-md-push-1 {
    left: 8.33333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66667%;
  }

  .col-lg-pull-10 {
    right: 83.33333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66667%;
  }

  .col-lg-pull-7 {
    right: 58.33333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66667%;
  }

  .col-lg-pull-4 {
    right: 33.33333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66667%;
  }

  .col-lg-pull-1 {
    right: 8.33333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66667%;
  }

  .col-lg-push-10 {
    left: 83.33333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66667%;
  }

  .col-lg-push-7 {
    left: 58.33333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66667%;
  }

  .col-lg-push-4 {
    left: 33.33333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66667%;
  }

  .col-lg-push-1 {
    left: 8.33333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important;
}

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }

  table.visible-xs {
    display: table;
  }

  tr.visible-xs {
    display: table-row !important;
  }

  th.visible-xs, td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  th.visible-sm, td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }

  table.visible-md {
    display: table;
  }

  tr.visible-md {
    display: table-row !important;
  }

  th.visible-md, td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }

  table.visible-lg {
    display: table;
  }

  tr.visible-lg {
    display: table-row !important;
  }

  th.visible-lg, td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}
.inline-block {
  display: inline-block;
}
.text-primary {
  color: #00b0ec;
}
.text-success {
  color: #6eb92b;
}
.text-danger {
  color: #f93030;
}
.text-center {
  text-align: center;
}
@font-face {font-family: "iconfont";
  src: url('../../fonts/guide/iconfont.eot?t=1490150301736'); /* IE9*/
  src: url('../../fonts/guide/iconfont.eot?t=1490150301736#iefix') format('embedded-opentype'), 
      url('../../fonts/guide/iconfont.woff') format('woff'), 
      url('../../fonts/guide/iconfont.ttf') format('truetype'), 
      url('../../fonts/guide/iconfont.svg?t=1490150301736#iconfont') format('svg'); /* iOS 4.1- */
}
.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-service-phone:before { content: "\e614"; }

.icon-classify-copy:before { content: "\e606"; }

.icon-xuexi:before { content: "\e618"; }

.icon-up:before { content: "\e60c"; }

.icon-lianjie:before { content: "\e61b"; }

.icon-zhizuoliucheng:before { content: "\e76b"; }

.icon-common-changjianwenti-copy:before { content: "\e62d"; }

.icon-shenqingjiameng:before { content: "\e602"; }

.icon-wangzhan:before { content: "\e643"; }

.icon-shenqing:before { content: "\e608"; }

.icon-zhujiemian:before { content: "\e670"; }

.icon-caozuo:before { content: "\e63c"; }

.icon-SEO:before { content: "\e601"; }


.tooltip {
  position: absolute;
  z-index: 2;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}

.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

body {
  min-width: 320px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.52857;
  font-family: 'microsoft yahei';
  min-height: 100vh;
  color: #666;
  background-color: #f5f5f5;
  position: relative !important;
}
p {
  margin-bottom: 10px;
  line-height: 24px;
}
p strong {
  color: #333;
}
p a {
  display: inline-block;
}
p a:hover {
  color: #00b0ec;
  text-decoration: underline;
}
.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.top {
  text-align: right;
  background-color: #2d2d2d;
  padding: 5px 0;
  color: #bbbbbb;
}
.top .myorder {
    margin: 0 20px;
}

header {
  background-color: #fff;
  padding: 10px 0;
}
header .top-phone {
  font-size: 16px;
  padding-top: 8px;
}
header .top-phone i {
  color: #00b0ec;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
header .top-phone a {
  color: #01a73c;
}
header img {
  display: block;
  height: 44px;
}
@media (max-width: 340px) {
  header img {
    width: 120px;
    height: auto;
  }
  header .top-phone {
    padding-top: 5px;
  }
}

header .nav {
  float: left;
  overflow: hidden;
  margin-left: 30px;
}
header .nav li {
  float: left;
  font-size: 18px;
  padding: 0 20px;
}
header .nav li a {
  -webkit-transition: color .3s;
  transition: color .3s;
  padding: 9px 0;
  display: inline-block;
}
header .nav li a:after {
  display: block;
  width: 0;
  height: 2px;
  background-color: #00b0ec;
  content: '';
  margin: auto;
  position: relative;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .nav li a:hover {
  color: #00b0ec;
}
header .nav li a:hover:after {
  width: 100%;
}
header .nav li .icon {
  display: none;
}
@media (max-width: 991px) {
  header .nav {
    margin-left: 15px;
  }
  header .nav li {
    font-size: 16px;
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  .header-nav {
    margin: 0 -15px;
  }
  header .nav {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    margin-left: 0;
  }
  header .nav li {
    width: 25%;
    font-size: 16px;
    padding: 0;
  }
  header .nav li a {
    padding: 10px 0 0;
  }
  header .nav li .icon {
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    line-height: 55px;
    color: #fff;
  }
  header .nav li .icon i {
    font-style: normal;
    font-size: 28px;
  }
  header .nav li a:after {
    display: none;
  }
  header .nav li:nth-of-type(1) .icon {
    background-color: #FFB231;
  }
  header .nav li:nth-of-type(2) .icon {
    background-color: #7DD72E;
  }
  header .nav li:nth-of-type(3) .icon {
    background-color: #36BAD5;
  }
  header .nav li:nth-of-type(4) .icon {
    background-color: #308FE1;
  }
}
@media (max-width: 768px) and (max-width: 370px) {
  header .nav li {
    font-size: 14px;
  }
  header .nav li .icon {
    width: 45px;
    height: 45px;
    line-height: 50px;
    border-radius: 9px;
  }
  header .nav li .icon i {
    font-size: 24px;
  }
}

.banner {
  background: url("../../images/apply/banner_02.jpg") center no-repeat;
  text-align: center;
  height: 240px;
  background-size: cover;
  color: #fff;
  position: relative;
  padding: 0 15px;
  display: table;
  width: 100%;
}
.banner div {
  display: table-cell;
  vertical-align: middle;
}
.banner h1 {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
}
@media (max-width: 991px) {
  .banner h1 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .banner {
    height: 200px;
  }
  .banner h1 {
    font-size: 18px;
  }
}
.banner a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 3px 15px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 16px;
  margin-top: 20px;
}
.banner a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-box .nav {
  margin: 0 -5px;
  padding: 10px 0;
  overflow: hidden;
}
.nav-box .nav li {
  float: left;
  width: 25%;
  text-align: center;
  padding: 0 5px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .nav-box .nav li a {
    display: block;
    border: 1px solid #e5e5e5;
    padding: 5px 0;
    background-color: #fff;
  }
  .nav-box .nav li.active a {
    color: #fff;
    background-color: #00b0ec;
    border-color: #00b0ec;
  }
}
.nav-box .nav li .icon i {
  font-style: normal;
  font-size: 28px;
}
.nav-box .nav li .icon {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: #b7b7b7;
  color: #fff;
  line-height: 50px;
  margin: auto;
  display: none;
}
.nav-box .nav li.active .icon {
  background-color: #00b0ec;
}
@media (max-width: 767px) {
  .nav-box .nav li .icon {
    display: block;
  }
}
@media (max-width: 480px) {
  .nav-box .nav li {
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  .nav-box .nav li {
    font-size: 14px;
  }
  .nav-box .nav li .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .nav-box .nav li .icon i {
    font-size: 24px;
  }
}
@media (max-width: 370px) {
  .nav-box .nav li {
    font-size: 12px;
  }
}

.nav-box {
  position: relative;
  height: 15px;
}
@media (max-width: 767px) {
  .nav-box {
    height: 15px;
  }
}
@media (max-width: 480px) {
  .nav-box {
    height: 94px;
  }
}
@media (max-width: 420px) {
  .nav-box {
    height: 15px;
  }
}
@media (max-width: 370px) {
  .nav-box {
    height: 15px;
  }
}

#nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: #f5f5f5;
}

#nav.fixed {
  position: fixed;
}
#nav.fixed .nav {
  padding: 10px 0;
}

.main {
  border: 1px solid #e5e5e5;
  background-color: #fff;
}
.main .title {
  color: #6eb92b;
  padding: 20px 50px;
  font-size: 18px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  line-height: 1;
}
.main .title span {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  background-color: #00b0ec;
  border-radius: 50%;
  font-size: 14px;
  margin-right: 5px;
  vertical-align: bottom;
}
.main .title .supplement {
  width: 100px;
  line-height: 1.1;
}
.main .sec {
  padding: 20px 50px;
}
.main h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #333;
}
.main h3 {
  color: #333;
  font-size: 16px;
}
.main .no-border-top {
  border-top: 0;
}
.main .no-padding-top {
  padding-top: 0;
}
.main h1 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
  margin-bottom: 15px;
}
.main h1 span {
  color: #f93030;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .main .title, .main .sec {
    padding: 15px;
  }
}
.footer {
  background-color: #fff;
  text-align: center;
  padding: 20px 15px;
  margin-top: 20px;
  border-top: 1px solid #dedede;
}
.footer a {
  color: inherit;
}
.footer a:hover {
  text-decoration: underline;
  color: #00b0ec;
}
.to_top{
  position:fixed;
  right:10px; 
  bottom:60px;
  width:50px;
  height:50px;
  line-height:50px;
  text-align:center;
  display:none;
}
.to_top a{
  display:block;
  width:50px;
  height:50px;
  background-color:rgba(0, 176, 236,.5);
  border-radius:100%;
  color: #fff;
}
.to_top a i {
  font-size: 32px;
}
