<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.managed_mapper.community_recruitment.IJobCategoryMapper">
    <resultMap id="BaseResultMap" type="com.shopping.wx.model.JobCategory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
        <result column="pid" jdbcType="VARCHAR" property="pid" />
        <result column="ppid" jdbcType="VARCHAR" property="ppid" />
        <result column="count_view" jdbcType="INTEGER" property="countView" />
        <result column="priority" jdbcType="INTEGER" property="priority" />
        <result column="keyword" jdbcType="VARCHAR" property="keyword" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="ext1" jdbcType="VARCHAR" property="ext1" />
        <result column="ext2" jdbcType="VARCHAR" property="ext2" />
        <result column="ext3" jdbcType="VARCHAR" property="ext3" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, category_name, pid, ppid, count_view, priority, keyword, status, create_time,
        ext1, ext2, ext3
    </sql>


    <update id="incrCountView">
        UPDATE job_category SET count_view = count_view +1 WHERE id = #{id};
    </update>
</mapper>