<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.managed_mapper.community_recruitment.IRecruitCompanyMapper">
    <resultMap id="BaseResultMap" type="com.shopping.wx.model.RecruitCompany">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="register_date" jdbcType="DATE" property="registerDate"/>
        <result column="license_id" jdbcType="VARCHAR" property="licenseId"/>
        <result column="license_photo_path" jdbcType="VARCHAR" property="licensePhotoPath"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>
        <result column="juridical_person" jdbcType="VARCHAR" property="juridicalPerson"/>
        <result column="juridical_idcard" jdbcType="VARCHAR" property="juridicalIdcard"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="lon" jdbcType="DOUBLE" property="lon"/>
        <result column="lat" jdbcType="DOUBLE" property="lat"/>
        <result column="portrait_path" jdbcType="VARCHAR" property="portraitPath"/>
        <result column="photo_path" jdbcType="VARCHAR" property="photoPath"/>
        <result column="expect_category_id" jdbcType="VARCHAR" property="expectCategoryId"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
        <result column="flag_identification" jdbcType="TINYINT" property="flagIdentification"/>
        <result column="count_view" jdbcType="INTEGER" property="countView"/>
        <result column="community_uuid" jdbcType="VARCHAR" property="communityUuid"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="ext1" jdbcType="VARCHAR" property="ext1"/>
        <result column="ext2" jdbcType="VARCHAR" property="ext2"/>
        <result column="ext3" jdbcType="VARCHAR" property="ext3"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, company_name, register_date, license_id, license_photo_path, introduction, juridical_person,
        juridical_idcard, phone, address, lon, lat, portrait_path, photo_path, expect_category_id,
        priority, flag_identification, count_view, community_uuid, status, create_time, ext1,
        ext2, ext3
    </sql>

    <update id="incrCountView">
        UPDATE recruit_company SET count_view = count_view +1 WHERE id = #{id};
    </update>
</mapper>