<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shopping.wx.managed_mapper.community_recruitment.IRecruitJobMapper">

    <!--    对于 POJO 中的实体类，需要添加此 ResultMap 来映射字段-->
    <resultMap id="JobInfoDTO" type="com.shopping.wx.pojo.dto.recruit_job.JobInfoDTO">
        <result column="job_id" jdbcType="INTEGER" property="jobId"/>
        <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="job_name" jdbcType="VARCHAR" property="jobName"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="portrait_path" jdbcType="VARCHAR" property="portraitPath"/>
        <result column="job_salary_min" jdbcType="INTEGER" property="jobSalaryMin"/>
        <result column="job_salary_max" jdbcType="INTEGER" property="jobSalaryMax"/>
        <result column="recruiter_openid" jdbcType="VARCHAR" property="recruiterOpenid"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="distance" jdbcType="DOUBLE" property="distance"/>
    </resultMap>

    <select id="pagedByDistance" resultMap="JobInfoDTO">
        SELECT
            rj.`id`             AS `job_id`,
            rc.`id`             AS `company_id`,
            rj.`job_name`       AS `job_name`,
            rc.`company_name`   AS `company_name`,
            rc.`portrait_path`  AS `portrait_path`,
            rj.`job_salary_min` AS `job_salary_min`,
            rj.`job_salary_max` AS `job_salary_max`,
            ur.`id`             AS `recruiter_openid`,
            rc.`phone`         AS `telephone`, -- 公司电话
            ST_DISTANCE_SPHERE(
              POINT(#{location.longitude}, #{location.latitude}),
              POINT(rc.`lon`, rc.`lat`)
            ) AS `distance`
        FROM recruit_job rj
        LEFT JOIN recruit_company rc ON rj.`company_uuid` = rc.`id`
        LEFT JOIN user_recruiter ur  ON rj.`recruiter_openid` = ur.`id`
        WHERE 1=1
        AND rj.`status` != - 1
        AND rc.`status` != - 1
        AND rc.`flag_identification` = 1
        <if test = "jobName != null and jobName != ''">
            AND job_name like concat('%',#{jobName},'%')
        </if>
        -- 薪资条件拼接
        <if test="salaryCompareState == 0">
            AND job_salary_min = 0
            AND job_salary_max = 0
        </if>
        <if test="salaryCompareState == 1">
            AND job_salary_min = 0
            AND job_salary_max > 0
            AND job_salary_max <![CDATA[ <=  ]]> #{jobSalaryMax}

        </if>
        <if test="salaryCompareState == 2">
            AND job_salary_min > 0
            AND job_salary_max = 0
            AND job_salary_min <![CDATA[ >=  ]]> #{jobSalaryMin}
        </if>
        <if test="salaryCompareState == 3">
            AND job_salary_min != 0
            AND job_salary_max != 0
            AND job_salary_min <![CDATA[ >=  ]]> #{jobSalaryMin}
            AND job_salary_max <![CDATA[ <=  ]]> #{jobSalaryMax}
        </if>
        ORDER BY `distance`
    </select>


    <update id="increaseCountView">
        UPDATE recruit_job SET count_view = count_view +1 WHERE id = #{id};
    </update>

    <update id="increaseCountApply">
        UPDATE recruit_job SET count_apply = count_apply +1 WHERE id = #{id};
    </update>

</mapper>
