<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shopping.wx.managed_mapper.community_recruitment.IUserCandidateMapper">

    <!--id 即是主键 openid-->
    <update id="increaseViewCount">
        update user_candidate
        set count_view=count_view + 1
        where id = #{openid}
    </update>
</mapper>
