<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.mapper.DktsMapper">
  <resultMap id="BaseResultMap" type="com.shopping.wx.model.Dkts">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dkid" jdbcType="VARCHAR" property="dkid" />
    <result column="tsnr" jdbcType="VARCHAR" property="tsnr" />
    <result column="lxr" jdbcType="VARCHAR" property="lxr" />
    <result column="lxdh" jdbcType="VARCHAR" property="lxdh" />
    <result column="dkbankid" jdbcType="VARCHAR" property="dkbankid" />
    <result column="yl1" jdbcType="VARCHAR" property="yl1" />
    <result column="yl2" jdbcType="VARCHAR" property="yl2" />
    <result column="tstime" jdbcType="TIMESTAMP" property="tstime" />
    <result column="sltime" jdbcType="TIMESTAMP" property="sltime" />
    <result column="wctime" jdbcType="TIMESTAMP" property="wctime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, dkid, tsnr, lxr, lxdh, dkbankid, yl1, yl2, tstime, sltime, wctime
  </sql>
</mapper>