<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.mapper.UserCommunityMapper">
  <resultMap id="BaseResultMap" type="com.shopping.wx.model.UserCommunity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="staff_telephone" jdbcType="VARCHAR" property="staffTelephone" />
    <result column="staff_email" jdbcType="VARCHAR" property="staffEmail" />
    <result column="staff_position" jdbcType="VARCHAR" property="staffPosition" />
    <result column="user_type" jdbcType="TINYINT" property="userType" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_name, user_password, staff_name, staff_id, staff_telephone, staff_email, 
    staff_position, user_type, status, create_time, ext1, ext2, ext3
  </sql>
</mapper>